@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
  font-family: "Quicksand", sans-serif;
  background-color: #e2e2e2;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #f15a28;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: black;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #f15a28;
}

/* Hero Section */
#hero {
  background-image: url("/Images/633f69b22a440e31d8e4eac63a36b78d.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

#hero img {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
}
#hero .cta {
  display: inline-block;
  padding: 5px 25px;
  color: #f15a28;
  background-color: transparent;
  border: 2px solid #f15a28;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 36px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: white;
  background-color: #f15a28;
}
/* End Hero Section */

/* Start Menu Section */
#menu .menu {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 0;
}

#menu .menu-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#menu .menu-top {
  margin: 0 10px;
}
#menu .menu-top span {
  color: #f15a28;
}

#menu .menu-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-image: url(/Images/633f69b22a440e31d8e4eac63a36b78d.jpg);
  background-size: cover;
  margin: 10px 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#menu .menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.6;
  z-index: -1;
}

#menu .menu-bottom .icon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

#menu .menu-item h2 a {
  font-size: 2rem;
  color: #f15a28;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#menu .menu-item p {
  color: white;
  text-align: left;
}
/* End Menu Section */

/* Contact Section */

#contacts {
  background-color: #d4d4d4;
}
#contacts .contacts {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#contacts .contacts-header h1 {
  margin-bottom: 50px;
}
#contacts .all-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contacts .contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#contacts .contact-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #293c3c 0%, #48635d 100%);
  color: white;
}

#contacts .contact-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#contacts .contact-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#contacts .contact-info p {
  color: white;
}

#contacts .contact-info span {
  color: #f15a28;
}

#contacts .contact-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#contacts .contact-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #293c30 0%, #506348 100%);
  opacity: 0.7;
}
#contacts .contact-img img {
  transition: 0.3s ease transform;
}

#contacts .contact-item .contact-img:hover img {
  transform: scale(1.1);
}

/* End Contact Section */
/* OpenHours Section */
#OpenHours .OpenHours {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#OpenHours .col-left {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 230px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
#OpenHours .col-left::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #293c3c 0%, #48635d 100%);
  opacity: 0.9;
  z-index: -1;
}
#OpenHours .col-left p {
  color: white;
}
#OpenHours .col-left span {
  color: #f15a28;
}
#OpenHours .col-right {
  width: 100%;
}

#OpenHours .col-right p {
  margin-bottom: 20px;
}
/* End OpenHours Section */

/* Footer section */
#footer {
  background-image: linear-gradient(60deg, #293c3c 0%, #48635d 100%);
}

#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding-top: 20px;
}

#footer .footer p {
  font-size: 9px;
  color: white;
}
#footer .welcome h1 {
  color: white;
}

#footer .Social-icon {
  display: flex;
  margin: 30px 0;
}

#footer .Social-icon img {
  padding: 0 10px;
}
/* End Footer section */

/* Media Query Tablet */
@media screen and (min-width: 768px) {
  .cta {
    font-size: 10.5rem;
  }
}
/* End Media Query Tablet */
